.fft {
  position: absolute;
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
}
#fft {
  -webkit-transform: translateX(0px) translateY(0px) rotateX(0deg) rotateY(0deg);
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.manual {
	position: absolute;
	top: 20px;
	left: 820px;
	width: 500px;
	height: 600px;
}

.grayscale {
	-webkit-filter: grayscale(1);
}

.sepia {
	-webkit-filter: sepia(1);
}
.blur {
	-webkit-filter: blur(5px);
}

.invert {
	-webkit-filter: invert(1);
}

.brightness {
	-webkit-filter: brightness(2);
}